.Ioutside{ width:1000px; height:auto; margin:0px auto;margin-bottom:10px; overflow:hidden;}

/*顶部下面*/
.Ibanner{ width:1003px; height:77px; padding-top:22px;}
.Ibanner .Ilogo{ width:143px; height:49px; background:url(/App_Themes/UI/Images/Index_r5_c3.jpg) no-repeat; float:left;}
.Ibanner .Iline{ background:url(../Images/Index_r6_c8.jpg) no-repeat; width:3px; height:41px; float:left; margin:8px 6px 0px 5px;}
.Ibanner .Ititle  
{
    width: 202px;
    height: 41px;
    float: left;
    line-height:41px;
    font-size:24px;
    font-family:微软雅黑;
    color:#333333;
    overflow:hidden;
 }
.Ibanner .Iscan{ width:430px; height:51px; float:left; margin-left:89px;}
.Ibanner .Iscan .Iscantext{ width:340px; height:34px; background:url(/App_Themes/UI/Images/Index_r5_c13.jpg) no-repeat; float:left; }
.Ibanner .Iscan .Iscantext .ScanInput{ width:303px;height:25px;margin-left:33px;margin-top:2px;border:none;background:url(/App_Themes/UI/Images/Index_r5_c13.jpg) -30px -2px; line-height:25px;}
.Ibanner .Iscan .Iscanbutton{ width:340px; height:34px; background:url(/App_Themes/UI/Images/Index_r5_c19.jpg); width:90px; height:34px; float:left; cursor:pointer;}
.Ibanner .Iscan span{ font-size:12px; color:#646464; float:left; margin-right:7px; margin-top:4px;}
.Ibanner .Ifbbutton{ width:102px; height:34px; float:left;cursor:pointer; background:url(/App_Themes/UI/Images/Index_r5_c25.jpg); margin-left:20px;}

/*登录*/
.Lotitle { width:990px; height:35px; background:url(/App_Themes/UI/Images/Login_r3_c4.jpg); line-height:35px; font-size:14px; color:#666666; font-weight:bold; padding-left:10px;}
.Loconten{ width:998px; height:398px; border:1px solid #dddddd; border-top:none;}
.Loconten .Loleft{ width:559px; height:250px; border-right:1px solid #dddddd; padding-top:30px; margin-top:50px; float:left;}
.Loconten .Loleft .Lorow{ width:560px; height:62px; float:left; }
.Loconten .Loleft .Lorow .Loclou{ width:156px; height:63px;padding-right:10px; line-height:63px; text-align:right; color:#636563; font-size:14px; font-weight:bold; float:left;}
.Loconten .Loleft .Lorow input{ float:left; border:1px solid #dddddd; height:25px; line-height:25px; margin-top:17px; width:250px;}
.Loconten .Loleft .usercode{ width:560px; height:62px; float:left; }
.Loconten .Loleft .usercode .codetext{ width:156px; height:63px;padding-right:10px; line-height:63px; text-align:right; color:#636563; font-size:14px; font-weight:bold; float:left;}
.Loconten .Loleft .usercode input{ float:left; border:1px solid #dddddd; height:25px; line-height:25px; margin-top:17px; width:100px;}
.Loconten .Loleft .usercode img{float:left;margin-top:19px; margin-left:10px;}
.Loconten .Loleft .Loradio{ width:394px; padding-left:166px; float:left;}
.Loconten .Loleft .Loradio input{ float:left; margin-top:4px;}
.Loconten .Loleft .Loradio span{ float:left; line-height:21px; color:#666666; font-size:12px; padding-left:10px;}
.Loconten .Loleft .Loradio a{ width:60px; float:right; line-height:21px; color:#666666; font-size:12px; padding-right:144px; display:block;}
.losumit{ width:316px; float:left;  padding-left:244px; margin-top:35px;}
.losumit input{ width:90px; height:34px; background:url(/App_Themes/UI/Images/Login_r12_c8.jpg); border:none; cursor:pointer;}
.Loconten .Loright{ width:435px; height:250px;padding-top:30px; margin-top:50px; float:left;}
.Loconten .Loright .LoPic{width:285px; height:135px; background:url(/App_Themes/UI/Images/Lo_r2_c2.jpg); margin-left:79px;}
.Loconten .Loright a{ background:url(/App_Themes/UI/Images/Index_r11_c12.jpg); width:114px; height:34px; float:left; display:block; margin-top:47px; margin-left:150px; _margin-left:75px; cursor:pointer;}
