<!DOCTYPE>
<html>

	<head>
		<title>大学生闲置物品交易平台</title>
		<meta name="keywords" content="二手货|闲置物品|校园二手|大学生二手交易|大学生闲置物品交易" />
		<meta name="description" content="服务于大学生群体的闲置物品交易平台，在麻溜儿网，您可以便捷、自主、高效的处理身边的闲置物品。" />
		<meta name="copyright" content="麻溜儿 " />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="JS/jquery-1.5.1.min.js" type="text/javascript"></script>
		<script src="JS/public.js" type="text/javascript"></script>
		<script src="JS/sM.js" type="text/javascript"></script>
		<link href="App_Themes/Public/PagerStyle.css" rel="stylesheet" type="text/css" />
		<script src="JS/Dialog.js" type="text/javascript"></script>
		<link href="App_Themes/Public/Dialog.css" rel="stylesheet" type="text/css" />
		<link href="App_Themes/UI/css/Common.css" rel="stylesheet" type="text/css" />
		<link type="image/x-icon" href="App_Themes/UI/images/favicon.ico" rel="Shortcut Icon">
		<script src="JS/jquery.lazyload.js" type="text/javascript"></script>
		<script type="text/javascript">
			//控制菜单方法
			function GetMenu(id) {
				$(".nav_inner li").each(function(a, b) {
					if(a == id) {
						$(b).find("a").addClass("nav_active");
					} else {
						$(b).find("a").removeClass("nav_active");
					}
				});
			}
			$(function() {

				//图片延迟加载
				$("img").not($(".hd")).lazyload({
					effect: "fadeIn"
				});

				$(".k").each(function(a, b) {
					$(b).click(function() {
						$("#CommTitle").val($(this).text());
					});
					if(a % 2 == 1) {
						$(b).css("color", "#FF7800");
					}
				});
				$("#sousuo").click(function() {
					var title = $("#CommTitle").val();
					if(title.length != 0 && title != '麻溜儿一下你想要的^_^') {
						$("#sform").submit();
					}
				});
				$(".dh").hover(function() {
					$(this).removeClass("dh").addClass("dhhover");
					$(".xiala").show();
				}, function() {
					$(this).removeClass("dhhover").addClass("dh");
					$(".xiala").hide();
				});
			});
		</script>

		<link href="App_Themes/UI/css/index.css" rel="stylesheet" type="text/css" />
		<script src="App_Themes/UI/js/s.js" type="text/javascript"></script>
		<style type="text/css">
			.demo_menu {
				font-size: 14px;
				margin: 10px 0px 0px;
				color: #999;
				line-height: 180%;
				text-align: center;
			}
			
			.demo_menu B {
				color: #333;
			}
			
			.demo_menu A {
				font-size: 14px;
				color: #f00;
			}
			
			.demo_menu A:visited {
				font-size: 14px;
				color: #f00;
			}
			
			.demo_menu A:hover {
				font-size: 14px;
				color: #090;
			}
		</style>
		<script src="App_Themes/UI/js/coin-slider.min.js" type="text/javascript"></script>
		<link href="App_Themes/UI/css/main_banner.css" type="text/css" rel="stylesheet" />
		<link href="App_Themes/UI/css/coin-slider-styles.css" type="text/css" rel="stylesheet" />
		<!--[if lte IE 6]>
    <script type="text/javascript" src="App_Themes/UI/js/PNG.js"></script>
    <![endif]-->
		<script type="text/javascript">
			$(function() {
				//控制菜单JS
				GetMenu(0);
				//首页焦点广告
				$('#games').coinslider({
					hoverPause: false
				});
			});
		</script>

	</head>

	<body>
		<div class="status">
			<div class="status_inner">
				<div class="area">
					<span class="area_name">[大连]</span>
					<span class="area_btn"><a href="Home/SelectCity.htm">选择城市</a></span>
				</div>
				<!--选择地区-->
				<div class="login" style=" text-align:right;">

					<a href="Login/Login.htm"><img src="App_Themes/UI/images/login_bg.jpg" /></a>
					<a href="Regist/Regist.htm"><img src="App_Themes/UI/images/reg_bg.jpg" /></a>
					<div class="myclear">
					</div>
				</div>
				<!--登陆栏目-->

				<!--设置首页-->
				<div class="myclear">
				</div>
			</div>
			<!--status_inner-->
		</div>
		<!--顶部状态栏-->
		<div class="top">
			<div class="top_inner">
				<div class="logo">
					<a href="">
						<img src="App_Themes/UI/images/logo.gif" width="263" height="58" alt="麻溜儿" /></a>
				</div>
				<div class="logo_r">
					<div class="guanzhu">
						<span style="float:right;overflow:hidden; height:22px;">
                       
                    </span>
						<span style="float:right;overflow:hidden;height:22px;">
                    </span>
					</div>
					
					<div class="search">
						<div class="search_bar">
							<form action="Commodity/SearchList.htm" name="sform" id="sform">
								<input class="search_bar_input" name="CommTitle" type="text" value="麻溜儿一下你想要的^_^" onblur="if(!value){value=defaultValue;}" onfocus="if(value==defaultValue){value='';}" id="CommTitle" />
								<input class="search_btn" type="button" value="" id="sousuo" />
							</form>
						</div>
						<div class="biaoqian">

							<a href="#" class="k">英语四级</a>

							<a href="#" class="k">牛仔裤</a>

							<a href="#" class="k">苹果</a>

							<a href="#" class="k">墨镜</a>

							<a href="#" class="k">面膜</a>

							<a href="#" class="k">影集</a>

							<a href="#" class="k">数字油画</a>

						</div>
					</div>
				</div>
				<!--logo右部分-->
				<div class="myclear">
				</div>
			</div>
		</div>
		<!--顶部-->
		<div class="nav">
			<div class="nav_inner">
				<ul>
					<li>
						<a href="index.html" title="首页"><span class="yinwen">Home</span><span class="zhongwen">首页</span></a>
					</li>
					<li>
						<a href="Commodity/List/6.htm" title="学习资料"><span class="yinwen">Learning</span><span class="zhongwen">学习资料</span></a>
					</li>
					<li>
						<a href="Commodity/List/7.htm" title="数码电器"><span class="yinwen">Digital</span><span class="zhongwen">数码电器</span></a>
					</li>
					<li>
						<a href="Commodity/List/8.htm" title="服装服饰"><span class="yinwen">Clothing</span><span class="zhongwen">服装服饰</span></a>
					</li>
					<li>
						<a href="Commodity/List/9.htm" title="箱包配饰"><span class="yinwen">Bags</span><span class="zhongwen">箱包配饰</span></a>
					</li>
					<li>
						<a href="Commodity/List/10.htm" title="美容护发"><span class="yinwen">Beauty</span><span class="zhongwen">美容护发</span></a>
					</li>
					<li>
						<a href="Commodity/List/11.htm" title="运动户外"><span class="yinwen">Sports</span><span class="zhongwen">运动户外</span></a>
					</li>
					<li class="last_nav_li" title="生活超市">
						<a href="Commodity/List/12.htm"><span class="yinwen">Supermarket</span><span class="zhongwen">生活超市</span></a>
					</li>
				</ul>
				<a class="shangchen" href="http://mall.maliuer.com/" title="商城"></a>
			</div>
		</div>
		<!--导航-->
		<div class="nav_sub"></div>

		<!--导航底部-->
		<div class="main_banner_outter">
			<div class="main_banner">
				<div id="page">
					<div id="gamesHolder">
						<div id="games" style="overflow: hidden;">

							<a href="http://www.maliuer.com/Home/Detail/13.htm" target="_blank">
								<img src="UploadFolder/2012-05-03/2012050316115003848049.jpg" class="hd"><span><b>麻溜儿网校园代理火热招募中…</b></span></a>

							<a href="http://www.maliuer.com/LuckDraw/Index.htm" target="_blank">
								<img src="UploadFolder/2012-05-22/2012052221044338315841.jpg" class="hd"><span><b>即日起发布闲置物品，即可参与幸运大抽奖活动！轻轻点击入场吧！</b></span></a>

							<a href="http://www.maliuer.com" target="_blank">
								<img src="UploadFolder/2012-03-12/2012031214490142631528.jpg" class="hd"><span><b>挖掘寝室新价值，引领节约新风潮！</b></span></a>

							<a href="http://www.maliuer.com" target="_blank">
								<img src="UploadFolder/2012-03-12/2012031214490144202186.jpg" class="hd"><span><b>麻溜儿网正式开放测试，欢迎您提出宝贵意见，我们将虚心聆听！</b></span></a>

							<a href="http://www.maliuer.com/Login/Login.htm" target="_blank">
								<img src="UploadFolder/2012-03-12/2012031214490150453772.jpg" class="hd"><span><b>身边的人都已经加入麻溜儿啦！身为大学生一员的你还在等什么？快来加入吧！</b></span></a>

							<a href="http://mall.maliuer.com" target="_blank">
								<img src="UploadFolder/2012-03-12/2012031214503639874276.jpg" class="hd"><span><b>麻溜儿商城，打造大学生自己的精品商城，现在下单即有精美礼品赠送哦！</b></span></a>

							<a href="http://www.maliuer.com/Login/Login.htm" target="_blank">
								<img src="UploadFolder/2012-03-12/2012031214552472234842.jpg" class="hd"><span><b>2012登船集结号！赶快卖了闲置物品，攒钱买船票吧！</b></span></a>

							<a href="http://www.maliuer.com" target="_blank">
								<img src="UploadFolder/2012-03-12/2012031214560295829234.jpg" class="hd"><span><b>挖掘寝室新价值，引领节约新风潮！</b></span></a>

						</div>
					</div>
				</div>
			</div>
			<!--main_banner-->
			<div class="main_banner_r">
				<ul>

					<li>
						<a class="ggao" href="Home/Detail/13.htm">
							校园代理招募活动火热启动</a><span class="gonggao_date">[2012-05-03]</span></li>

					<li>
						<a class="ggao" href="Home/Detail/10.htm">
							麻溜儿商城强势回归</a><span class="gonggao_date">[2012-04-25]</span></li>

					<li>
						<a class="ggao" href="Home/Detail/5.htm">
							麻溜儿网正式上线开放测试</a><span class="gonggao_date">[2012-03-12]</span></li>

				</ul>
				<div class="new_person">
					<a href="Help/index.htm" target="_blank">
					 </a>
				</div>
			</div>
			<!--main_banner_r-->
			<div class="myclear">
			</div>
		</div>
		<!--主banner外体-->
		<div class="main_banner_outter_sub">
		</div>
		<!--主banner底部-->
		<div class="outer_body">
			<!--精品推荐开始-->
			<div class="recommend">
				<h1>
                <a class="rec_more">
                    <img src="App_Themes/UI/images/rec_more.jpg" width="100" height="88" alt="more" /></a>
            </h1>
				<div class="rec_b">
					<ul>

						<li>
							<a href="Commodity/Detail/593.htm" class="rec_tu">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-14/2012051416253736584636_150_180.jpg?a=1" /></a>
							<h2>
                            <a href="Commodity/Detail/593.htm">
                                时尚流苏两用包</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-05-14]</span>
							<span class="rec_prince">
                            ￥10
                        </span>
						</li>

						<li>
							<a href="Commodity/Detail/595.htm" class="rec_tu">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-14/2012051416344079294068_150_180.jpg?a=1" /></a>
							<h2>
                            <a href="Commodity/Detail/595.htm">
                                青春 韩寒原著</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-05-14]</span>
							<span class="rec_prince">
                            ￥10
                        </span>
						</li>

						<li>
							<a href="Commodity/Detail/598.htm" class="rec_tu">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-15/2012051516390481531590_150_180.jpg?a=1" /></a>
							<h2>
                            <a href="Commodity/Detail/598.htm">
                                EOS香草豆蔻米色唇...</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-05-15]</span>
							<span class="rec_prince">
                            ￥29
                        </span>
						</li>

						<li>
							<a href="Commodity/Detail/498.htm" class="rec_tu">
								<img src="http://pic.maliuer.com/UploadFolder/2012-04-13/2012041319592044865001_150_180.jpg?a=1" /></a>
							<h2>
                            <a href="Commodity/Detail/498.htm">
                                sgirl正品春款糖果...</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-04-13]</span>
							<span class="rec_prince">
                            ￥170
                        </span>
						</li>

						<div class="myclear"></div>
						<div class="xuxian"></div>

						<li>
							<a href="Commodity/Detail/561.htm" class="rec_tu">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-05/2012050523011063552304_150_180.JPG?a=1" /></a>
							<h2>
                            <a href="Commodity/Detail/561.htm">
                                夏普sh81iuc 智能...</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-05-05]</span>
							<span class="rec_prince">
                            ￥750
                        </span>
						</li>

						<li>
							<a href="Commodity/Detail/501.htm" class="rec_tu">
								<img src="http://pic.maliuer.com/UploadFolder/2012-04-15/2012041515071630352239_150_180.jpg?a=1" /></a>
							<h2>
                            <a href="Commodity/Detail/501.htm">
                                薰衣草星星玻璃罐</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-09-06]</span>
							<span class="rec_prince">
                            ￥5
                        </span>
						</li>

						<li>
							<a href="Commodity/Detail/560.htm" class="rec_tu">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-19/2012051909213128417560_150_180.JPG?a=1" /></a>
							<h2>
                            <a href="Commodity/Detail/560.htm">
                                正品opi悦诗风吟爱...</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-06-20]</span>
							<span class="rec_prince">
                            ￥25
                        </span>
						</li>

						<li>
							<a href="Commodity/Detail/142.htm" class="rec_tu">
								<img src="http://pic.maliuer.com/UploadFolder/2012-03-14/2012031418241314332530_150_180.jpg?a=1" /></a>
							<h2>
                            <a href="Commodity/Detail/142.htm">
                                ups路由 猫  后备...</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-03-18]</span>
							<span class="rec_prince">
                            ￥120
                        </span>
						</li>

					</ul>
					<div class="myclear">
					</div>
				</div>
			</div>
			<!--精品推荐结束-->
			<div class="recommend_r">
				<!--热点活动开始-->
				<div class="hotevent">
					<h1>
                    <a>
                        <img src="App_Themes/UI/images/hot_h_bg.jpg" width="307" height="88" alt="热点活动" /></a>
                </h1>
					<ul>

						<li>
							<div class="hot_tu">

								<a href="Home/Detail/14.htm" target="_blank">
									<img src="userfiles/images/201205222048110233562_82_82.jpg" />
								</a>

							</div>
							<span class="hot_num">Hot EVENTS.01</span>
							<h2>
                            <a href="Home/Detail/14.htm" target="_blank">
                                发布闲置物品，抽幸运大奖活动火爆启动！</a>
                        </h2>
							<span class="hot_date">[2012-05-22]</span>
						</li>

						<li>
							<div class="hot_tu">

								<a href="Home/Detail/11.htm" target="_blank">
									<img src="" />
								</a>

							</div>
							<span class="hot_num">Hot EVENTS.02</span>
							<h2>
                            <a href="Home/Detail/11.htm" target="_blank">
                                麻溜儿商城满48元全国包邮</a>
                        </h2>
							<span class="hot_date">[2012-04-25]</span>
						</li>

						<li>
							<div class="hot_tu">

								<a href="Home/Detail/9.htm" target="_blank">
									<img src="userfiles/images/201203142300454055053_82_82.jpg" />
								</a>

							</div>
							<span class="hot_num">Hot EVENTS.03</span>
							<h2>
                            <a href="Home/Detail/9.htm" target="_blank">
                                麻溜儿商城全新上线，给力活动进行中</a>
                        </h2>
							<span class="hot_date">[2012-03-14]</span>
						</li>

						<li>
							<div class="hot_tu">

								<a href="Home/Detail/8.htm" target="_blank">
									<img src="userfiles/images/201203141440068429683_82_82.jpg" />
								</a>

							</div>
							<span class="hot_num">Hot EVENTS.04</span>
							<h2>
                            <a href="Home/Detail/8.htm" target="_blank">
                                麻溜儿商城下单就送礼！</a>
                        </h2>
							<span class="hot_date">[2012-03-14]</span>
						</li>

					</ul>
				</div>
				<!--热点活动结束-->
				 
			</div>
			<!--recommend_r-->
			<div class="myclear">
			</div>
			<div class="sub_ad1">

				<a href="http://www.maliuer.com/Login/Login.htm" target="_blank" title="变闲为宝，麻溜儿网帮你闲置换钱！">
					<img src="UploadFolder/2012-03-12/2012031214590504337102.jpg" width="988" height="103" /></a>

			</div>
			<div class="learning_big">

				<div class="big_left">
					<a href="Commodity/Detail/381.htm">
						<img src="http://pic.maliuer.com/UploadFolder/2012-03-25/2012032519092916745265_223_277.jpg?a=1" alt="学习资料" />
					</a>
				</div>
				<div class="big_right">
					<h3>
                    
                    <a class="lanmu_a" href="Commodity/List/6.htm?twoid=13"
                        target="_blank">
                        考研资料</a>
                    
                    <a class="lanmu_a" href="Commodity/List/6.htm?twoid=14"
                        target="_blank">
                        考级资料</a>
                    
                    <a class="lanmu_a" href="Commodity/List/6.htm?twoid=15"
                        target="_blank">
                        图书</a>
                    
                    <a class="lanmu_a" href="Commodity/List/6.htm?twoid=16"
                        target="_blank">
                        光碟</a>
                    
                    <a class="lanmu_a" href="Commodity/List/6.htm?twoid=17"
                        target="_blank">
                        其他</a>
                    
                    <span class="lanmu_more"><a href="Commodity/List/6.htm"
                        target="_blank">更多>></a></span></h3>
					<ul>

						<li>
							<a href="Commodity/Detail/382.htm" class="rec_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-03-25/2012032519142840693265_154_180.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/382.htm" target="_blank">
                                英语初级听力（教师...</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-09-06]</span>
							<span class="rec_prince">￥10</span>
						</li>

						<li>
							<a href="Commodity/Detail/383.htm" class="rec_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-03-25/2012032519181249679220_154_180.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/383.htm" target="_blank">
                                英语专业四级词汇</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-09-06]</span>
							<span class="rec_prince">￥6</span>
						</li>

						<li>
							<a href="Commodity/Detail/384.htm" class="rec_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-03-25/2012032519224072359990_154_180.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/384.htm" target="_blank">
                                英语听力教程4（教师...</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-09-06]</span>
							<span class="rec_prince">￥8</span>
						</li>

						<li>
							<a href="Commodity/Detail/399.htm" class="rec_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-03-26/2012032618291147759983_154_180.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/399.htm" target="_blank">
                                Spark专四词汇</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-09-06]</span>
							<span class="rec_prince">￥5</span>
						</li>

					</ul>
					<div class="myclear">
					</div>
				</div>

				<div class="myclear">
				</div>
			</div>
			<!--学习资料-->
			<div class="supermarket_big">

				<div class="big_left">
					<a href="Commodity/Detail/501.htm">
						<img src="http://pic.maliuer.com/UploadFolder/2012-04-15/2012041515071630352239_223_277.jpg?a=1" alt="生活超市" />
					</a>
				</div>
				<div class="big_right">
					<h3>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=152"
                        target="_blank">
                        食品饮料</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=153"
                        target="_blank">
                        礼品</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=154"
                        target="_blank">
                        日用杂货</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=155"
                        target="_blank">
                        票务</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=161"
                        target="_blank">
                        优惠券</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=162"
                        target="_blank">
                        虚拟商品</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=163"
                        target="_blank">
                        日租房</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=164"
                        target="_blank">
                        月租房</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=165"
                        target="_blank">
                        其他</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=171"
                        target="_blank">
                        桌游</a>
                    
                    <a class="lanmu_a" href="Commodity/List/12.htm?twoid=174"
                        target="_blank">
                        乐器</a>
                    
                    <span class="lanmu_more"><a href="Commodity/List/12.htm"
                        target="_blank">更多>></a></span></h3>
					<ul>

						<li>
							<a href="Commodity/Detail/699.htm" class="rec_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-06-19/2012061913432424963262_154_180.JPG?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/699.htm" target="_blank">
                                沙宣 大红色 电吹风</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-07-25]</span>
							<span class="rec_prince">￥35</span>
						</li>

						<li>
							<a href="Commodity/Detail/700.htm" class="rec_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-06-19/2012061920311048212224_154_180.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/700.htm" target="_blank">
                                大个超萌蒙奇奇</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-06-19]</span>
							<span class="rec_prince">￥150</span>
						</li>

						<li>
							<a href="Commodity/Detail/626.htm" class="rec_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-24/2012052420473075394229_154_180.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/626.htm" target="_blank">
                                全新皮椅~低价出售~...</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-05-24]</span>
							<span class="rec_prince">￥110</span>
						</li>

						<li>
							<a href="Commodity/Detail/618.htm" class="rec_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-23/2012052319364098017710_154_180.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/618.htm" target="_blank">
                                乱七八糟生活用品</a>
                        </h2>
							<span class="rec_date">发布日期:[2012-05-23]</span>
							<span class="rec_prince">￥10</span>
						</li>

					</ul>
					<div class="myclear">
					</div>
				</div>

				<div class="myclear">
				</div>
			</div>
			<!--生活超市-->
			<div class="digital_small">

				<div class="samll_left">
					<a href="Commodity/Detail/701.htm" target="_blank">
						<img src="http://pic.maliuer.com/UploadFolder/2012-06-21/2012062112305588164949_183_237.jpg?a=1" width="183" height="237" alt="数码电器" />
					</a>
				</div>

				<div class="samll_right">
					<ul class="small_ul">

						<li>
							<a href="Commodity/Detail/651.htm" class="samll_li_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-28/2012052823540914397669_112_131.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/651.htm" target="_blank">
                                电信天翼3G网卡 三个...</a>
                        </h2>
							<span class="rec_prince">￥180</span>
						</li>

						<li>
							<a href="Commodity/Detail/648.htm" class="samll_li_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-28/2012052817414377533837_112_131.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/648.htm" target="_blank">
                                卡西欧电子九成新琴</a>
                        </h2>
							<span class="rec_prince">￥1150</span>
						</li>

					</ul>
					<ul class="small_news">

						<li>
							<a href="Commodity/Detail/786.htm" target="_blank" title="电子智能手环">
								电子智能手环</a>
						</li>

						<li>
							<a href="Commodity/Detail/773.htm" target="_blank" title="全新三星移动八核4G">
								全新三星移动八核4G</a>
						</li>

						<li>
							<a href="Commodity/Detail/751.htm" target="_blank" title="奥特曼咸蛋超人">
								奥特曼咸蛋超人</a>
						</li>

					</ul>
					<div class="small_more">
						<a href="Commodity/List/7.htm" target="_blank">更多>></a>
					</div>
				</div>
			</div>
			<!--数码电器-->
			<div class="clothing_small">

				<div class="samll_left">
					<a href="Commodity/Detail/415.htm" target="_blank">
						<img src="http://pic.maliuer.com/UploadFolder/2012-03-28/2012032813514495794051_183_237.jpg?a=1" alt="数码电器" />
					</a>
				</div>

				<div class="samll_right">
					<ul class="small_ul">

						<li>
							<a href="Commodity/Detail/417.htm" class="samll_li_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-03-28/2012032814013076606863_112_131.jpg?a=1" width="112" height="131" />
							</a>
							<h2>
                            <a href="Commodity/Detail/417.htm" target="_blank">
                                青春校园小短裙</a>
                        </h2>
							<span class="rec_prince">￥20</span> </li>

						<li>
							<a href="Commodity/Detail/418.htm" class="samll_li_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-03-28/2012032814052616043646_112_131.jpg?a=1" width="112" height="131" />
							</a>
							<h2>
                            <a href="Commodity/Detail/418.htm" target="_blank">
                                红色时尚帆布鞋</a>
                        </h2>
							<span class="rec_prince">￥15</span> </li>

					</ul>
					<ul class="small_news">

						<li>
							<a href="Commodity/Detail/748.htm" target="_blank" title="大四学姐良心甩卖">
								大四学姐良心甩卖</a>
						</li>

						<li>
							<a href="Commodity/Detail/744.htm" target="_blank" title="361度蓝色运动半袖9.9成新 修身款170/92A ">
								361度蓝色运动半袖9...</a>
						</li>

						<li>
							<a href="Commodity/Detail/736.htm" target="_blank" title="艾格周末 专柜正品 结婚典礼 粉色泡泡袖夏季短袖体恤">
								艾格周末 专柜正品 ...</a>
						</li>

					</ul>
					<div class="small_more">
						<a href="Commodity/List/8.htm" target="_blank">更多>></a>
					</div>
				</div>
			</div>
			<!--衣服-->
			<div class="bags_small">

				<div class="samll_left">
					<a href="Commodity/Detail/644.htm" target="_blank">
						<img src="http://pic.maliuer.com/UploadFolder/2012-05-26/2012052621474515132949_183_237.jpg?a=1" width="183" height="237" alt="数码电器" />
					</a>
				</div>

				<div class="samll_right">
					<ul class="small_ul">

						<li>
							<a href="Commodity/Detail/597.htm" class="samll_li_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-14/2012051416471311874013_112_131.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/597.htm" target="_blank">
                                韩版黑色泰迪熊钱夹</a>
                        </h2>
							<span class="rec_prince">￥5</span> </li>

						<li>
							<a href="Commodity/Detail/593.htm" class="samll_li_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-14/2012051416253736584636_112_131.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/593.htm" target="_blank">
                                时尚流苏两用包</a>
                        </h2>
							<span class="rec_prince">￥10</span> </li>

					</ul>
					<ul class="small_news">

					</ul>
					<div class="small_more">
						<a href="Commodity/List/9.htm" target="_blank">更多>></a>
					</div>
				</div>
			</div>
			<!--箱包-->
			<div class="beauty_small">

				<div class="samll_left">
					<a href="Commodity/Detail/560.htm" target="_blank">
						<img src="http://pic.maliuer.com/UploadFolder/2012-05-19/2012051909213128417560_183_237.JPG?a=1" width="183" height="237" alt="数码电器" />
					</a>
				</div>

				<div class="samll_right">
					<ul class="small_ul">

						<li>
							<a href="Commodity/Detail/624.htm" class="samll_li_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-24/2012052416252753132395_112_131.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/624.htm" target="_blank">
                                SANA超浓胶原蛋白化...</a>
                        </h2>
							<span class="rec_prince">￥39</span> </li>

						<li>
							<a href="Commodity/Detail/611.htm" class="samll_li_tu" target="_blank">
								<img src="http://pic.maliuer.com/UploadFolder/2012-05-21/2012052115192342336688_112_131.jpg?a=1" />
							</a>
							<h2>
                            <a href="Commodity/Detail/611.htm" target="_blank">
                                资生堂水凝眼影粉</a>
                        </h2>
							<span class="rec_prince">￥119</span> </li>

					</ul>
					<ul class="small_news">

						<li>
							<a href="Commodity/Detail/772.htm" target="_blank" title="自制手工皂护肤品">
								自制手工皂护肤品
							</a>
						</li>

						<li>
							<a href="Commodity/Detail/765.htm" target="_blank" title="转让木立芦荟胶">
								转让木立芦荟胶
							</a>
						</li>

						<li>
							<a href="Commodity/Detail/727.htm" target="_blank" title="[转卖]格美假发 蛋卷头 蓬松修脸">
								[转卖]格美假发 蛋卷...
							</a>
						</li>

					</ul>
					<div class="small_more">
						<a href="Commodity/List/10.htm" target="_blank">更多>></a>
					</div>
				</div>
			</div>
			<!--美容-->
			<div class="myclear">
			</div>
		</div>
		<!--网页主体-->
		<div class="sub_ad2">

			<a href="http://www.maliuer.com/Help/JianYi.htm" target="_blank" title="网正式开放测试，欢迎提出宝贵意见，我们将虚心聆听！">
				<img width="964" height="113" src="UploadFolder/2012-03-12/2012031215031036521718.jpg" /></a>

		</div>
		<div class="shichang">
			<h1>
            大连地区高校跳蚤市场</h1>
			<div class="shichang_b">

				<a href="Commodity/SchoolList.htm?schoolid=23">
					大连理工大学城市学院(309)</a>

				<a href="Commodity/SchoolList.htm?schoolid=24">
					大连大学(2)</a>

				<a href="Commodity/SchoolList.htm?schoolid=25">
					大连民族学院(15)</a>

				<a href="Commodity/SchoolList.htm?schoolid=26">
					大连艺术学院(4)</a>

				<a href="Commodity/SchoolList.htm?schoolid=27">
					财经大学津桥商学院(2)</a>

				<a href="Commodity/SchoolList.htm?schoolid=28">
					大连翻译职业学院(0)</a>

				<a href="Commodity/SchoolList.htm?schoolid=29">
					大连理工大学(31)</a>

				<a href="Commodity/SchoolList.htm?schoolid=33">
					大连海事大学(9)</a>

				<a href="Commodity/SchoolList.htm?schoolid=53">
					大连交通大学(14)</a>

				<a href="Commodity/SchoolList.htm?schoolid=58">
					大连工业大学(16)</a>

				<a href="Commodity/SchoolList.htm?schoolid=66">
					大连海洋大学(9)</a>

				<a href="Commodity/SchoolList.htm?schoolid=68">
					大连医科大学(1)</a>

				<a href="Commodity/SchoolList.htm?schoolid=71">
					辽宁师范大学(11)</a>

				<a href="Commodity/SchoolList.htm?schoolid=75">
					东北财经大学(22)</a>

				<a href="Commodity/SchoolList.htm?schoolid=80">
					大连东软信息学院(7)</a>

				<a href="Commodity/SchoolList.htm?schoolid=86">
					大连外国语学院(4)</a>

				<a href="Commodity/SchoolList.htm?schoolid=89">
					鲁迅美术学院大连校区(2)</a>

				<a href="Commodity/SchoolList.htm?schoolid=97">
					辽宁对外经贸学院(3)</a>

				<a href="Commodity/SchoolList.htm?schoolid=98">
					大连科技学院(4)</a>

				<a href="Commodity/SchoolList.htm?schoolid=105">
					大连工业大学艺术与信息工程学院(2)</a>

				<a href="Commodity/SchoolList.htm?schoolid=109">
					辽宁师范大学海华学院(0)</a>

				<a href="Commodity/SchoolList.htm?schoolid=117">
					大连医科大学中山学院(8)</a>

				<a href="Commodity/SchoolList.htm?schoolid=131">
					辽宁警官高等专科学校(2)</a>

				<a href="Commodity/SchoolList.htm?schoolid=133">
					大连职业技术学院(2)</a>

				<a href="Commodity/SchoolList.htm?schoolid=136">
					大连商务职业学院(1)</a>

				<a href="Commodity/SchoolList.htm?schoolid=150">
					大连翻译职业学院(0)</a>

				<a href="Commodity/SchoolList.htm?schoolid=152">
					大连装备制造职业技术学院(2)</a>

				<a href="Commodity/SchoolList.htm?schoolid=154">
					大连枫叶职业技术学院(0)</a>

				<a href="Commodity/SchoolList.htm?schoolid=166">
					大连理工大学软件学院(3)</a>

			</div>
		</div>
		<!--学生市场-->

		<div class="footer">

			<div class="copyright">
				<div class="copyright_inner">
					<img class="foot_logo" src="App_Themes/UI/images/foot_logo.jpg" width="112" height="26" alt="麻溜儿" />
					<div class="sec_nav">
						<a href="Help/Detail/2.htm" target="_blank">关于麻溜儿</a> |
						<a href="Help/Detail/3.htm" target="_blank">联系我们</a> |
						<a href="Help/Detail/4.htm" target="_blank">商家合作</a> |
						<a href="Help/JianYi.htm" target="_blank">意见反馈</a> |
						<a href="Help/index.htm" target="_blank">帮助中心</a>
					</div>
					<span class="banquan">麻溜儿网©版权所有<a class="beianhao" href="http://www.miibeian.gov.cn/">辽ICP备11019540号</a></span>
				</div>
				<p style=" text-align:center;">
					<script src="http://s5.cnzz.com/stat.php?id=3696939&web_id=3696939&show=pic" language="JavaScript"></script>
					<!-- maliuer.com Baidu tongji analytics -->
					<script type="text/javascript">
						var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
						document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F72548c7eeebf601c80be60dfc15fb369' type='text/javascript'%3E%3C/script%3E"));
					</script>
				</p>
			</div>
		</div>

		<style>
			.fixedBtn {
				position: fixed;
				right: 0;
				top: 230px;
				width: 36px;
				height: 178px;
			}
			
			* html .fixedBtn {
				position: absolute;
				bottom: auto;
				top: expression(eval(document.documentElement.scrollTop)+230);
			}
			
			.fixedBtn .feedback {
				display: inline-block;
				text-indent: -2000px;
				background: url('/App_Themes/UI/images/fankui.png');
				width: 31px;
				height: 104px;
				position: absolute;
				left: 0;
				top: 0;
			}
			
			.fixedBtn .feedback:hover {
				background-position: -31px 0;
			}
			
			.fixedBtn .tops {
				text-indent: -2000px;
				background: url('/App_Themes/UI/images/celan_top.png');
				width: 31px;
				height: 74px;
				position: absolute;
				left: 0;
				bottom: 0;
			}
			
			.fixedBtn .top:hover {
				background-position: -31px 0;
			}
		</style>
		<script type="text/javascript">
			$(function() {
				$("#toptop").hide();
				$(window).scroll(function() {
					if(parseFloat($(window).scrollTop()) > 200) {
						$("#toptop").show();
					} else {
						$("#toptop").hide();
					}
				});
			});
		</script>
		<!-- footer end -->
		<div class="fixedBtn">
			<a href="Help/JianYi.htm" class="feedback" title="欢迎反馈麻溜儿网的使用问题、Bug和建议～" target="_blank">意见反馈</a>
			<a href="#" class="tops" id="toptop" title="回到顶部">回到顶部</a>
		</div>

	</body>

	<script type="text/javascript">
		function setTValue(key, value) {
			$("input[name='" + key + "']").attr("value", value);
		}

		function setRadioValue(key, value) {
			$("input[name='" + key + "'][value='" + value + "']").attr("checked", 'checked');
		}

		function setSelectValue(key, value) {
			$("select[name='" + key + "'] option:[value='" + value + "']").attr("selected", "selected");
		}
		//function setTextAValue(key, value) { $("textarea[name='" + key + "']").html(value); }
		var myValues = new Array();
		var EvalString = "";

		eval(EvalString);
		$(
			function() {
				for(var i = 0; i < myValues.length; i++) {
					var key = myValues[i][0];
					var value = myValues[i][1];
					value = value.replace(/@_@/g, "'");
					value = value.replace(/#_#/g, "\"");
					value = value.replace(/&_&/g, "\\");

					try {
						var type = $("input[name='" + key + "']").attr("type");
						switch(type.toLowerCase()) {
							case "text":
								setTValue(key, value);
								break;
							case "hidden":
								setTValue(key, value);
								break;
							case "password":
								setTValue(key, value);
								break;
							case "file":
								setTValue(key, value);
								break;
							case "radio":
								setRadioValue(key, value);
								break;
							case "checkbox":
								setRadioValue(key, value);
								break;
						}
					} catch(ce) {
						try {
							setSelectValue(key, value);
						} catch(cee) {}
					}
				}
			}
		);
	</script>

</html>

<!--提示信息-->
<script type="text/javascript">
	var msg = '';
	if(msg == "") {
		msg += '';
	}
	if(msg != "") {
		$("body").showMessage(msg);
	}
</script>
<!--防止重复提交-->
<script type="text/javascript">
	$(function() {
		var R_hidd = '';
		if(R_hidd != "") {
			$("form").each(function(i, v) {
				if($(v).attr("target") != "_blank") {
					var hidd = "<input type='hidden' notsavevalue='true'  name='___R_hidd' value='" + R_hidd + "' />";
					$(v).append(hidd);
				}
			});
		}
	});
</script>